<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand mb-0 fs-5 fw-bold">Influx</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav fs-6 align-items-baseline">
          <li class="nav-item">
            <a
              onmouseover="this.style.color='blue'"
              onmouseleave="this.style.color='black'"
              class="nav-link active"
              aria-current="page"
              href=""
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a
              onmouseover="this.style.color='blue'"
              onmouseleave="this.style.color='black'"
              class="nav-link active"
              aria-current="page"
              href="#"
              >Princing</a
            >
          </li>

          <div class="">
            <ul
              class="premium-content d-flex align-items-baseline align-items-baseline"
            >
              <li class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-bookmark-plus-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"
                  />
                </svg>
              </li>
              <li><a class="prem-text" href="">Premium</a></li>
              <li class="nav-item">
                <a [routerLink]="['/register']" class="btn">Register</a>
              </li>
              <div></div>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-img">
  <img src="/assets/img/undrawLogin.svg" width="650" height="auto" />
</div>
<div class="card">
  <div class="card-header text-center fs-3 fw-bold">Influx</div>
  <div class="card-body">
    <p class="mx-1 my-0">Username</p>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Username"
        aria-describedby="basic-addon1"
        [(ngModel)]="pinaccount"
      />
    </div>
    <p class="mx-1 my-0">Password</p>
    <div class="input-group mb-3">
      <input
        type="password"
        class="form-control"
        placeholder=""
        aria-label="Password"
        aria-describedby="basic-addon1"
        [(ngModel)]="pinpassword"
      />
    </div>
    <div class="d-flex align-items-baseline remember">
      <input class="ms-1 form-check-input" type="checkbox" />
      <p class="ms-1 me">Remember me</p>
    </div>
    <div class="link">
      <div class="row">
        <ul class="links list-unstyled">
          <li>
            <button
              class="btn"
              type="button"
              id="button-addon2"
              (click)="pinAdmin()"
            >
              Login
            </button>
          </li>
          <li>
            <div class="forReg">
              <ul class="d-flex">
                <li>
                  <a class="forgot">Forgot your password?</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
